<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/output.css" rel="stylesheet">
</head>
<body>

<header class="antialiased">
  <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 bg-white">
  </nav>
</header>
<section class=" bg-white" id="section">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <div class="mb-12">
        <a href="/" class="mb-4 text-xl text-gray-400 text-white pb-6">
          <svg class="w-6 h-6 text-gray-800 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
          </svg>
        </a>
      </div>
    <h2 class="mb-4 text-xl font-extrabold text-gray-900 text-white">Create a new account</h2>
    <form action="#">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label for="identity_id" class="block mb-2 text-sm font-medium text-gray-900 text-white">
            Account holder
          </label>
          <select hx-get="/customer-select" hx-trigger="load" name="identity_id" id="identity_id"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
            <option selected>Choose a type</option>
          </select>
        </div>

        <div class="sm:col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 text-white">
            Account Name
          </label>
          <p class="text-gray-400 text-sm pb-1">leave blank if you wish to use the account holder name</p>
          <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" placeholder="Type account name" required="">
        </div>



        <div class="sm:col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 text-white">Account Number</label>
          <p class="text-gray-400 text-sm pb-1">leave blank if </p>
          <input name="number" type="number" id="number-input" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="90210" required>
        </div>
      </div>
      <button hx-post="/create-account"
              hx-trigger="click"
              hx-target="#section"
              hx-confirm="Are you sure you wish to create a new customer?"
              class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 focus:ring-primary-900 hover:bg-primary-800">
        Create account
      </button>
    </form>
  </div>
  </div>
</section>
<script src="/static/node_modules/flowbite/dist/flowbite.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
</body>
</html>